html,
body {
  height: 100%;
}
:root {
  --universal-text-margin: 5ch;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #1e1e1e;
    }
  }

input:focus,
textarea:focus {
  background: rgb(0 0 0 / 10%);
  border-radius: 5px;
}

.card {
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#sign-up {
  display: flex;
  flex-direction: column;
  width: 800px;
}

#logo {
  background-color: lightblue;
  position: relative;
  display: flex;
  justify-content: center;
}

.slogan {
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

#quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  flex: 1;
}

.quote{
    margin: 10px var(--universal-text-margin) 0 var(--universal-text-margin);
    font-size: 32px;
}

.author {
  float: right;
  font-style: italic;
}

#signup-section {
  background-color: white;
  display: flex;
  flex: 1;
}

#form {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  margin: 10px 0 0 var(--universal-text-margin);
}

.input-line {
  width: 200px;
}

#create-account {
  background-color: lightgray;
  flex: 1;
}

.createAccount {
  margin-left: var(--universal-text-margin);
}

.createAccountBtn {
  margin-top: 10px;
  margin-left: var(--universal-text-margin);
  color: white;
  background-color: #596d48;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
